<kendo-pdf-export #pdf paperSize="A4" margin="2cm">

  <kendo-grid 
  
  id="grid" [sortable]="true" [height]="componentConfig.gridHeight"
  [resizable] ="true"
  (cellClick)="cellClickHandler($event)" 
  (add)="addHandler()"
  (remove)="removeHandler($event)"
  [filter]="state.filter"
  [filterable]= "isFilterable"
  [columnMenu]="isColumnMenu"
  (dataStateChange)="dataStateChange($event)"
  [resizable]="true"
  [sortable]="true">

  
  
      <ng-template kendoGridToolbarTemplate>
      <legend class="k-form-legend" *ngIf="componentConfig.showTitle">{{ title }}</legend>
      

      <kendo-toolbar *ngIf="showToolBar" kendoGridToolbarTemplate>
      <kendo-toolbar-button  kendoButton [disabled]="isSearch" [icon]="'save'" title="save" (click)="saveChanges(grid);" *ngIf="!isChild"></kendo-toolbar-button >
      <kendo-toolbar-button  kendoButton [icon]="'print'" title="print" (click)="printScreen()" ></kendo-toolbar-button >
  
      <kendo-toolbar-separator></kendo-toolbar-separator><kendo-toolbar-separator></kendo-toolbar-separator><kendo-toolbar-separator></kendo-toolbar-separator>
          <kendo-toolbar-button [disabled]="isSearch"  text="{{starServices.getNLS([],'ENTER_QUERY','Enter Query')}}" title="{{starServices.getNLS([],'ENTER_QUERY','Enter Query')}}" (click)="enterQuery(grid);" ></kendo-toolbar-button >
          <kendo-toolbar-button  [fillMode]="isSearch ? 'outline' : 'solid' "  [icon]="'search'"  title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery(grid);" ></kendo-toolbar-button >
          <kendo-toolbar-button  [fillMode]="isSearch ? 'outline' : 'solid' " [icon]="'cancel'" title="Cancel"  (click)="cancelHandler()" ></kendo-toolbar-button >
      <kendo-toolbar-separator></kendo-toolbar-separator><kendo-toolbar-separator></kendo-toolbar-separator><kendo-toolbar-separator></kendo-toolbar-separator>
      
          <kendo-toolbar-button [disabled]="isSearch" [icon]="'plus'" title="Insert Record"  kendoGridAddCommand></kendo-toolbar-button >
          <kendo-toolbar-button [disabled]="isSearch" [icon]="'trash'" title="Delete Record"  kendoGridRemoveCommand>Remove</kendo-toolbar-button >
      <kendo-toolbar-separator></kendo-toolbar-separator><kendo-toolbar-separator></kendo-toolbar-separator><kendo-toolbar-separator></kendo-toolbar-separator>        
          <kendo-toolbar-button  [icon]="'filter'" title="Show/Hide Filter options"  (click)="toggleFilter()" ></kendo-toolbar-button >
          <kendo-toolbar-button  [icon]="'menu'" title="Show/Hide Menu"  (click)="toggleColumnMenu()" ></kendo-toolbar-button >
          <kendo-toolbar-button  [icon]="'file-pdf'" title="Export to PDF"  kendoGridPDFCommand ></kendo-toolbar-button >
          <kendo-toolbar-button  [icon]="'file-excel'" title="Export to Excel"  kendoGridExcelCommand ></kendo-toolbar-button >
  
  </kendo-toolbar>
  </ng-template>

<kendo-grid-column field="HOST_ID" 
  title="ID" [width]="150" [editable]="isHOST_IDEnable"></kendo-grid-column>

<kendo-grid-column field="HOST" 
     title="Host" [width]="150" ></kendo-grid-column>

     <kendo-grid-column field="PATH" 
     title="Path" [width]="120"></kendo-grid-column>
<kendo-grid-column field="PORT" 
     title="Port" [width]="60"></kendo-grid-column>
<kendo-grid-column field="METHOD" 
     title="Method" [width]="60"></kendo-grid-column>
<kendo-grid-column field="AUTHORIZATION" 
     title="Authorization" [width]="120"></kendo-grid-column>





  
                     <kendo-grid-pdf [fileName]="PDFfileName" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
                      <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                      <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                       <div class="page-template">
                          <div class="header">
                            <div style="float: center">{{ title }}</div>
                          </div>
                          <div class="footer">
                            Page {{ pageNum }} of {{ totalPages }}
                          </div>
                        </div>
                      </ng-template>
                  </kendo-grid-pdf>
                  <kendo-grid-excel [fileName]="ExcelfileName" ></kendo-grid-excel>
  
  </kendo-grid>
  
  
  </kendo-pdf-export>
